import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import configparser

# visulazation
import matplotlib as mpl
mpl.use('Agg')
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_color_codes()
from mpl_toolkits.mplot3d import Axes3D


# web crawling
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from PIL import Image as pil
